**/node_modules
**/dist
**/.cache
**/.eslintcache
**/coverage
**/stats.html
.DS_Store
**/.next
.vscode
**/.env

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions